{% extends 'base.html' %} {% block bodyblock %}
<div class="container">
  <br />
  <h1 class="content" style="text-align:center">
    Welcome to the World of <span style="color: #198b90">Image Processing</span>
  </h1>
  <br>
  <style>
    p { 
      font-size:larger;
      font-family: Palatino Linotype;
      color: #198b90;
      text-align:center;
    }
  </style>
  <p>
    MLAPP is an image processing application. This website discusses about the
    machine learning and how it used in the field of computer vision. The
    viewers can able to access the various service of image processing and can
    learn how to design the machine learning model. The motive of this website
    is to spread the knowledge behind the data driven projects.
  </p>
  <br>
  <h1 class="content" style="text-align:center">
    Follow a <span style="color: #198b90">Suggested</span> Path</span>
  </h1>
  <br>
  <p>
    You can use any of the given resources, in any order. 
    If you’re not sure where to start, why not follow one of these paths?
  </p>
  <br>
  <ul class="list-group list-group-horizontal-xl" >
    <li class="list-group-item">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Intro to Machine Learning</h5>
          <p class="card-text" style="text-align:left">Machine Learning is a latest buzzword floating around. So what does Machine Learning really mean?</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Data and It’s Processing</h5>
        <p class="card-text" style="text-align:left">Data is the most important part of all Data Analytics, Machine Learning, Artificial Intelligence.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div></li>
    <li class="list-group-item">
      <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Types of Learning</h5>
        <p class="card-text" style="text-align:left">ML algorithms are of three types- Supervised, Unsupervised, and Reinforcement Learning.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div></li>
  </ul>
  
  
</div>
{% endblock %}